.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post-achirve {
  article {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .elementor-post__excerpt {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .elementor-post__title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
.elementor-popup-modal .dialog-close-button svg {
  border: none;
  &:focus {
    outline: none;
  }
}
.box-shadow-2{
 box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.jkit-close-menu{
  &:focus{
    background-color: unset !important;
  }
}